PassengerEnabled On
PassengerAppRoot /home3/fionco36/neuroseller.com.br/neuroorganic
PassengerStartupFile passenger_wsgi.py
PassengerAppType wsgi

<FilesMatch "\.php$">
    PassengerEnabled Off
</FilesMatch>
